*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'tomy';
 

}
@font-face {
    font-family: tomy;
    src: url(../fonts/MADE\ TOMMY\ Light_PERSONAL\ USE.otf);
}

.page{
    position: relative;
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}
.menu-other{
    position: fixed;
    top:0;
    z-index:11111;
    padding:10px 20px;
    width:100%;
    height:155px;display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #cacaca0f;
    backdrop-filter: blur(5px);
}
.menu-cart{
    width:100%;
    height:70px;display:flex;
    align-items: center;
    justify-content: space-between;
}


 .menu-cart .menu{
    position: relative;
    width:30px;height: 30px;
    
 }.menu img{
    position: relative;width:90%;height:90%;object-fit: cover;
 }
 .cart {
    width:40px;
    height: 46px;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;justify-content: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 24px;
    box-shadow: -1px 0px 14px 1px rgba(0,0,0,0.06);

 }
 .cart .count{
    display: flex;
    align-items: center;justify-content: center;
    position: absolute;
    font-size: 12px;
    top:-8px;right:-6px;width:21px;height:21px;background-color:#fff;border-radius: 50%;border:1px solid #f8f8f8;
 }
 .cart i{
    font-size:21px;color:#010101;
 }


 .menu-rest {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: scroll;
    position: relative;
    z-index: 1111;
}
.menu-rest::-webkit-scrollbar{
    display:none;
 }

.menu-rest .btn-scroll {
    position:fixed;
    background-color: #fdb23c;
    color: #fff;
    filter: drop-shadow(-1px 1px 18px rgba(9, 9, 9, 0.074));
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    margin: 0 5px;
    z-index: 1;
    cursor: pointer;
}
#btn-scroll-right{
    right:0;
}
#btn-scroll-left{
    left:0;
}
.menu-rest .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    padding:0 13px;
    gap:28px;
    transition: 0.4s all ease-out;
}


 .menu-container a{
    position: relative;
    width:41px;height:41px;
    background-color:#fff;
    border-radius: 10px;
    display: flex;align-items: center;justify-content: center;
    filter: drop-shadow(2px 2px 7px #00000019);
 }
 .menu-container .categori-1{
     background-color: #ffbd59;
 }
 .menu-container .categori-1 img{
   filter: invert(1);
}
 
 .menu-container a img{
   width:23px;height:23px;object-fit: cover;
   
 }
 .plat-container{
    position:relative;
    top:160px;
    width:100%;
    display: flex;flex-direction:column;align-items: center;gap:40px;
    height:max-content;
    padding:15px 18px;
 }
 .plat-container .anonce{
    position: relative;
    width: 100%;
    height:350px;
    display: flex;
    gap:20px;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
   
 }
 .anonce::-webkit-scrollbar{
    display:none;
 }
 .anonce .slid-an{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    padding:0 13px;
    gap:27px;
 }
 .slid-an .anonce-1{
    position: relative;
    width:360px;
    height:310px;
    background: url(../img/ff184c16e8d2e4180d69cf8155fc32ff.jpg);
    background-size: cover;
    background-position: center;
    animation: slide 13s infinite;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 10px #00000027);
  
 }
 @keyframes slide {
    25% {
      background: url(../img/0b65d06b6cf9e99e46cbbac8ffc71fbd.jpg);
      background-size: cover;
      background-position: center;
    }
    50% {
      background:url(../img/ff184c16e8d2e4180d69cf8155fc32ff.jpg);
      background-size: cover;
      background-position: center;
    }
    75% {
      background: url(../img/0b65d06b6cf9e99e46cbbac8ffc71fbd.jpg);
      background-size: cover;
      background-position: center;
    }
    100% {
      background: url(../img/ff184c16e8d2e4180d69cf8155fc32ff.jpg);
      background-size: cover;
      background-position: center;
    }
  }

.anonce-1 .cart-a{
    position:absolute;
    bottom:6px;
    right:7px;
    background-color: #ed6337;
    font-size: 20px;color:#ffdc7c;
    width:40px;height:40px;border-radius: 50%;
    display: flex;align-items: center;justify-content: center;
}

 .plat-container .categori{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
 }
.plat-card{
    position:relative;
    background:#fff;
    width: 210px;
    height: 230px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
    padding: 0 8px;
    filter: drop-shadow(1px 1px 8px #0000000e);
}
.plat-card .img{
    position: relative;
    width:160px;
    height: 130px;
}
.plat-card .img img{
   width:100%;
   height:100%;
   object-fit: cover;
}
.plat-card .prix-titl{
    width:90%;
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;font-size: 17px;
    gap:7px;
}
.prix-titl .title{
    width:100%;
    display: flex;
    flex-direction: column;
    font-size: 19px;color:#010101;text-transform: capitalize;
    gap:3px;letter-spacing: 1px;
}
.prix-titl .title p{
    color:#cfcfcf;font-size: 14px;
}
.prix-add{
    display: flex;width:100%;
    align-items: center;justify-content: space-between;
}
.prix-add p{
    font-size:17px;
    letter-spacing: 1px;
}
.prix-add a{
    background-color: #ffbd59;
    width:28px;
    height:28px;border-radius:50%;
    display: flex;align-items: center;justify-content: center;
}
.prix-add a i{
    color:#fff;font-size:20px;
}

.bottom-nav{
    position:fixed;
    bottom:-100%;
    width:350px;
    height:70px;
    border-radius: 30px;
    padding:0 25px ;
    background-color: #ffbd59c9;
    backdrop-filter: blur(10px);
    filter: drop-shadow(2px 2px 10px #00000054);
    transition: bottom 0.6s ease-in-out;
    display: flex;align-items: center;justify-content: space-between;
}
.bottom-nav a{
    font-size: 24px;
    color:#fff;
    filter: drop-shadow(2px 2px 7px #00000027);
}
.bottom-nav .in{
    color:#000000;
}
@media (max-width: 450px) {
    .plat-container{
        padding:14px 15px;
     }
    .plat-container .categori{
        grid-template-columns: repeat(2, 1fr);
        gap:15px;
        
     }
     .plat-card{
        position:relative;
        background:#fff;
        width: 180px;
        height: 220px;
    }
    .plat-card .img{
        position: relative;
        width:145px;
        height: 110px;
    }
    .plat-card .prix-titl{
        width:90%;
        height: 80px;
        align-items: center;font-size: 16px;
    
    }
    .prix-titl .title{
        font-size: 18px;
    }
   
    .prix-add p{
        font-size:16px;
    }
    .prix-add a{
        width:27px;
        height:27px;
       
    }
    .prix-add a i{
        font-size:18px;
    }
   
}
@media (max-width: 375px) {
    .plat-card{
        position:relative;
        background:#fff;
        width: 163px;
        height: 210px;
    }
    .plat-card .img{
        position: relative;
        width:135px;
        height: 104px;
    }
    .plat-card .prix-titl{
        width:90%;
        height: 80px;
        align-items: center;font-size: 15px;
    
    }
    .prix-titl .title{
        font-size: 17px;
    }
   
    .prix-add p{
        font-size:15px;
    }
    .prix-add a{
        width:27px;
        height:27px;
       
    }
    .prix-add a i{
        font-size:17px;
    }
}